extends layout

block content

  //- My Ratings
  - var ratings = [ 'WTF, seriously!?', 'Terrible', 'Bad', 'Poor', 'Meh', 'Fair', 'Good', 'Great', 'Superb', 'Fucking awesome' ];
  //- div
    //- input#search(type="text")
    //- ul#search-results
  if movies
    each movie in movies 
      .row.index
        .col-md-12
          .title
            if !!movie.date
              .date #{ moment(movie.date).format('D MMMM YYYY') }
            h2= movie.title
          h5 Starring
          if !!movie.cast
            ul.cast
              each actor in movie.cast
                li
                  a(href="/actor?name=" + actor)= actor
          .information
            .num= movie.num
            .certification= "Rated " + movie.certification
            .year= movie.year
          h3.rating It was 
            span.rating= ratings[movie.rating - 1]
          .ion-ios7-arrow-down
  else
    .row.index
      .col-md-12
        .title
          "You're not watching anything"