extends layout

block content

  //- My Ratings
  - var ratings = [ 'WTF, seriously!?', 'Terrible', 'Bad', 'Poor', 'Meh', 'Fair', 'Good', 'Great', 'Superb', 'Fucking awesome' ];

  if movies
    .movies
      each movie in movies
        .movies__movie
          .movies__movie-content
            h2.movies__movie-title= movie.title
            p.movies__movie-description= movie.desc
            h5 Starring
            if !!movie.cast
              ul.movies__movie-cast
                each actor in movie.cast
                  li.movies__movie-actor
                    a(href="/actor?name=" + actor)= actor
            .movies__movie-meta-values
              if !!movie.num
                .movies__movie-meta= movie.num
              if !!movie.certification
                .movies__movie-meta.movies__movie-meta--certification= "Rated " + movie.certification
              if !!movie.year
                .movies__movie-meta= movie.year
            h3.rating It was 
              span.rating= ratings[movie.rating - 1]
            .ion-ios7-arrow-down