extends layout

block content

  //- My Ratings
  - var ratings = [ 'WTF, seriously!?', 'Terrible', 'Bad', 'Poor', 'Meh', 'Fair', 'Good', 'Great', 'Superb', 'Fucking awesome' ];

  if movie
    .row.index
      if (movie.skip > 0)
        a.prev(href='/?skip=' + (movie.skip-1))
          span.ion-ios7-arrow-back
          span Back
      a.next(href='/?skip=' + (movie.skip+1)) Next
        span.ion-ios7-arrow-forward
      img#cover(src=movie.poster.img)
      .col-md-12
        .bg
        .text
          .title
            h2= movie.title
          .subtitle
            if !!movie.date
              span.date #{ moment(movie.date).format('D MMMM YYYY') }
            if !!movie.year
              span.year= ' (' + movie.year + ')'
          if !!movie.certification
            .certification= movie.certification
          if !!movie.desc
            .description= movie.shortDesc
            .long-description= movie.desc 
          if !!movie.cast
          ul.cast
            each actor in movie.cast
              li
                a(href="/actor?name=" + actor)= actor
          .read-more
            span.close-text Read more
            span.open-text Back
            .ion-ios7-arrow-down
  else
    .row.index
      .col-md-12
        .title You haven't watched anything