extends layout

block content

  //- My Ratings
  - var ratings = [ 'Wtf was that?', 'Terrible', 'Bad', 'Poor', 'Meh', 'Fair', 'Good', 'Great', 'Superb', 'Fucking awesome' ];

  .row.time
    each time,key in stats.time
      .col-md-3= time
        .amount= key

  .row.people
    each value,key in stats.numbers
      .col-md-3= value
        .amount= key

  .row.stats
    .col-md-4
      table.table.table-condensed
        thead
          tr
            th Name
            th Movies
        tbody
          each actor in stats.actors
            tr
              td= actor.name
              td= actor.movies
    .col-md-4
      table.table.table-condensed
        thead
          tr
            th Name
            th Movies
        tbody
          each director in stats.directors
            tr
              td= director.name
              td= director.movies
    .col-md-4
      table.table.table-condensed
        thead
          tr
            th Name
            th Movies
        tbody
          each director in stats.composers
            tr
              td= director.name
              td= director.movies