extends layout

block content

  //- My Ratings
  - var ratings = [ 'Wtf was that?', 'Terrible', 'Bad', 'Poor', 'Meh', 'Fair', 'Good', 'Great', 'Superb', 'Fucking awesome' ];

  .row.time
    each time,key in stats.time
      .col-md-3= time
        .amount= key

  .row.people
    each value,key in stats.numbers
      .col-md-3= value
        .amount= key

  .row.stats
    .col-md-4
      table.table.table-condensed
        thead
          tr
            th Name
            th Movies
        tbody
          each actor in stats.actors
            tr
              td= actor.name
              td= actor.movies
    .col-md-4
      table.table.table-condensed
        thead
          tr
            th Name
            th Movies
        tbody
          each director in stats.directors
            tr
              td= director.name
              td= director.movies
    .col-md-4
      table.table.table-condensed
        thead
          tr
            th Name
            th Movies
        tbody
          each director in stats.composers
            tr
              td= director.name
              td= director.movies
  .row.years
    .col-md-12
      ul
        each movies,year in stats.years
          - var size = (movies.movies / 170) * 100 + "%"
          li(style="height:" + size)
            span
              .year= year

  .row.certs
    each movies,cert in stats.certifications
      .col-md-2
        .cert= cert
        .movies= movies.movies + " movies"